body {
     font-family: Arial, sans-serif;
     background-color: #E6D5B8;
     color: #111827;
     text-align: center;
     margin: 0;
     padding: 0;
 }

 
h1 {
     color: #111111;
 }

 
p {
     font-size: 18px;
 }

 
img {
     max-width: 100%;
     height: auto;
     background-color: #ffffff;
     border: 2px solid ;
     margin: 20px 0;
 }

 
ul {
     list-style-type: square;
     text-align: left;
     display: inline-block;
 }

 
li {
     margin: 5px 0;
 }
 a {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.page-accueil {
    margin: 0;
    padding: 0;

    background-image: url("DPI.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
}
.problemes {
    width: 80%;
    margin: 50px auto;
}

.bloc {
    margin-bottom: 40px;
}

.bloc h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #111827;
}

.bloc p {
    color: #4B5563;
    line-height: 1.6;
}